<!DOCTYPE html>
<html lang="fr">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#ba425e" />
    <meta name="theme-color" content="#ba425e" />
    <title>@(String.IsNullOrEmpty(ViewData["Title"]?.ToString()) ? "O'SAN Cave" : $"{ViewData["Title"]} - O'SAN Cave")</title>

    <link runat="server" rel="shortcut icon" href="~/favicon2.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/favicon2.ico" type="image/ico" />

    @RenderSection("metatags", required: false)

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link href="_content/Blazorise.Icons.FontAwesome/v6/css/all.min.css" rel="stylesheet">
    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/lib/slick-carousel/slick.min.css" />
    <link rel="stylesheet" href="~/lib/slick-carousel/slick-theme.min.css" />
    <link rel="stylesheet" href="~/lib/Swiper/swiper-bundle.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/news.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OsanWebsite.Web.styles.css" asp-append-version="true" />
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v18.0" nonce="IuMkBFNZ"></script>

    <div id="sidebar">
        <div id="sidebar-content" class="ho-sidebar" style="padding-top: 10px !important;">
            <partial name="_Sidebar" />
        </div>
    </div>

    <div id="content">
        <div id="main-content">
            <div id="navbar">
                <div id="navbar-body">
                    <img src="~/images/logo-o-light.png" style="height: 40px;" />
                    <span style="flex-grow: 1;"></span>

                    <a href="/" class="osan-btn" style="display: inline; width:auto;margin-right: 5px;padding: 5px 10px;"><span class="fa fa-home" /></a>
                    <a href="/reservation" class="osan-btn" style="display: inline; width:auto;padding: 5px 10px;margin-right: 5px;">Réserver</a>
                    <a href="/livraison" class="osan-btn" style="display: inline; width:auto;padding: 5px 10px;margin-right: 5px;">Livrer</a>

                    <div class="dropdown">
                        <a class="osan-btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false" style="display: inline-block; padding: 5px 10px;">
                            <span class="fa fa-ellipsis"></span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/a-propos" style="font-size: 10pt;">À propos</a>
                            <a class="dropdown-item" href="/nos-cartes" style="font-size: 10pt;">Nos cartes</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="content-body">
                <div id="cool-header">
                    @RenderSection("coolheader", required: false)
                </div>

                <div style="padding: 10px;">
                    @RenderBody()
                </div>
            </div>
        </div>

        <div id="side-content" class="ho-sidebar">
            <vc:side-content />
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    <script src="~/lib/slick-carousel/slick.min.js"></script>
    <script src="~/lib/Swiper/swiper-bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
