<div style="">
    <div style="text-align: center;">
        <img src="images/logo.png" style="width: 200px;border-radius:50%;" />
    </div>

    <div class="ho-sidebar-header">
        <span style="font-size:9pt; font-weight: bold;">CAVE À VIN . RESTAURANT . PIANO BAR</span>

        <br />
        <br />
        <a href="/" class="osan-btn flexed" style="margin-bottom: 5px;"><span class="fa fa-home"></span><span class="btn-text">Accueil</span></a>
        <a href="/a-propos" class="osan-btn flexed" style="margin-bottom:5px;"><span class="fa fa-circle-info"></span><span class="btn-text">À propos</span></a>
        <a href="/nos-cartes" class="osan-btn flexed" style="margin-bottom:10px;"><span class="fa fa-wine-glass-empty"></span><span class="btn-text">Nos cartes</span></a>
    </div>

    <div style="display:flex;align-items:center;padding: 10px 0px; border-top: 1px solid #ca798f;">
        <span class="fa fa-map-marker" style="font-size: 13pt;"></span>
        <div style="display:flex; flex-direction:column;font-size: 9pt;flex-grow:1;text-align:center;">
            <span>Douala - Bonamoussadi</span>
            <span><strong>Lat</strong>: 4.08825, <strong>Lon</strong>: 9.74669</span>
        </div>
    </div>
    <a href="https://maps.app.goo.gl/fpX2WDr3ntMLj7sa9" target="_blank" class="osan-btn" style="margin-bottom: 10px;">Voir sur Google Maps &nbsp; &nbsp; <span class="fa fa-external-link"></span></a>

    <div style="font-size: 10pt;padding: 10px 0px; margin-top: 5px; border-bottom: 1px solid #ca798f;">
        <div style="display:flex;align-items:center;">
            <span class="fa fa-phone" style="font-size: 13pt"></span>
            <div style="text-align:center;flex-grow:1;">
                (+237) 692 62 38 85
            </div>
        </div>

        <br />

        <div style="display:flex;align-items:center;">
            <span class="fa-brands fa-whatsapp" style="font-size: 13pt"></span>
            <div style="text-align:center;flex-grow:1;">
                (+237) 692 62 38 85
            </div>
        </div>

        <br />

        <div style="display:flex;align-items:center;">
            <span class="fa fa-envelope" style="font-size: 13pt"></span>
            <div style="text-align:center;flex-grow:1;">
                infos@osancave.com
            </div>
        </div>
    </div>

    <div style="display:flex; justify-content: space-evenly; font-size: 16pt;padding-top: 2px;">
        <a href="https://www.facebook.com/loungeosan" target="_blank" class="social-link"><span class="fa-brands fa-facebook"></span></a>
        <a href="https://twitter.com/OSANCave" target="_blank" class="social-link"><span class="fa-brands fa-x-twitter"></span></a>
        <a href="https://www.instagram.com/loungeosan" target="_blank" class="social-link"><span class="fa-brands fa-instagram"></span></a>
        <a href="@("https://www.youtube.com/@osancave")" class="social-link" target="_blank"><span class="fa-brands fa-youtube"></span></a>
    </div>

    <div style="font-size: 9pt;padding: 10px 0px; margin-top: 5px; border-top: 1px solid #ca798f;text-align: center">
        &copy; @System.DateTime.Now.Year O'SAN Cave
    </div>
    
</div>
