@page "/reservation/{campaign?}"
@model OsanWebsite.Web.Pages.BookingPageModel
@{
    ViewData["Title"] = "Réservation";
}

<h4>Réserver une table</h4>

<div class="alert alert-info" style="font-size: 10pt;">
    <span class="fa fa-info-circle"></span> &nbsp; Vous pouvez également réserver par téléphone au <strong>(+237) 692623885</strong>
</div>

<component 
    type="typeof(OsanWebsite.Web.Components.BookingForm)" 
    param-CampaignId=Model.CampaignId
    render-mode="Server" 
/>

@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}
