@page "/nos-cartes"
@model OsanWebsite.Web.Pages.CardsPageModel
@{
    ViewData["Title"] = "Nos Cartes";
}

<h4>Nos Cartes</h4>

<div style="display:flex;align-items:center; background-color: #ffeccc; border-radius: 10px; padding: 15px; font-size: 10pt; color:#540b1c; margin-bottom: 15px;">
    <span class="fa fa-file-pdf" style="font-size: 24pt;"></span>
    <div style="flex-grow: 1; margin-left: 10px;">
        <div style="font-weight: bold;">Carte des Repas</div>
        <a href="~/docs/carte-repas-OSAN-v2.pdf" target="_blank" class="osan-link">Télécharger</a>
    </div>
</div>

<div style="display:flex;align-items:center; background-color: #ffeccc; border-radius: 10px; padding: 15px; font-size: 10pt; color:#540b1c; margin-bottom: 15px;">
    <span class="fa fa-file-pdf" style="font-size: 24pt;"></span>
    <div style="flex-grow: 1; margin-left: 10px;">
        <div style="font-weight: bold;">Carte des Boissons</div>
        <a href="~/docs/carte-boissons-OSAN-v2.pdf" target="_blank" class="osan-link">Télécharger</a>
    </div>
</div>
