@page "/livraison"
@model OsanWebsite.Web.Pages.DeliveryPageModel
@{
    ViewData["Title"] = "Livraison";
}

<h4>Se faire livrer</h4>

<img src="~/images/livraison1.jpg" style="width: 100%; border-top-left-radius: 10px;border-top-right-radius: 10px; border: 1px solid #e1bbc5;border-bottom-width: 0px;" />
<div style="border: 1px solid #e1bbc5;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px; padding: 10px; background-color: #ffeccc;border-top-width: 0px;padding-top: 10px; font-size: 10pt;color:#540b1c">
    Savourez le raffinement d'<strong>O'SAN</strong> chez vous ou au bureau. Notre service de livraison à domicile vous propose nos délices culinaires et vins
    d'exception, de midi à 23h à Douala 5e, avec des frais de livraison de seulement 1000FCFA. Commandez dès maintenant pour une expérience
    gastronomique unique, où le luxe s'invite chez vous.

    <br />
    <br />
    <div style="text-align:center;margin-top: 5px;">
        <div style="font-weight: bold;">Consultez <a href="/nos-cartes" class="osan-link" style="display:inline-block">Nos cartes</a> puis contactez nous.</div>
        <div style="font-size: 14pt;"><span class="fa fa-phone"></span> <span class="fa-brands fa-whatsapp"></span> &nbsp; (+237) 692 62 38 85</div>
    </div>
</div>
