#admin-bar {
    height: 70px;
    display: flex;
    padding: 0px 10px;
    align-items: center;
    background-color: #b94268;
    color: white;
}

#admin-header {
    font-size: 11pt;
    font-weight: bold;
    width: 225px;
}

#toolbar {
    flex-grow: 1;
}

#admin-bar #user {
    width: 120px;
}

#admin-sidebar {
    width: 250px;
    height: calc(100vh - 70px);
    top: 70px;
    left: 0px;
    border-right: 1px solid #DFDFDF;
    overflow-y: auto;
    background-color: #f6f4f4;
}

#admin-body {
    width: calc(100vw - 250px);
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    right: 0px;
    overflow-y: auto;
}
