#booking-list {
}

.booking-item {

}

    .booking-item:hover {

    }



.campaign.Opened .campaign-status {
    color: green;
}

.campaign.Closed .campaign-status {
    color: tomato;
}

.campaign.Selected {
    background-color: #deeaef;
}

#booking-list .cell {
    display: flex;
    flex-direction: column;
    height: 70px;
    align-items: center;
    padding: 15px;
    justify-content: center;
}

#booking-list .header-cell {
    display: flex;
    flex-direction: column;
    height: 39.2px;
    align-items: center;
    justify-content: center;
}

#booking-list .cell-left {
    align-items:flex-start;
}

#booking-list .list-header {
    font-weight: bold;
    background-color: #edecec;
    color: #808080;
}

#booking-list .list-item.Selected {
    background-color: #deeaef;
}

#booking-list .list-item:hover {
    cursor: pointer;
}

#booking-list .list-header, #booking-list .list-item {
    border-bottom: 1px solid #DFDFDF;
    font-size: 10pt;
}

.cust-name {
    font-size: 19pt;
}

.cust-details {
    font-size: 10pt;
}

.num-places {
    font-size: 19pt;
}

.booking-status {
    font-size: 10pt;
}

    .booking-status.Pending {
        color: tomato;
    }

    .booking-status.Confirmed {
        color: var(--primary);
    }

    .booking-status.Cancelled {
        color: var(--warning);
    }

    .booking-status.Consumed {
        color: #808080
    }

    .booking-status.Unconsumed {
        color: var(--orange);
    }

    .qr-code {
        width: 50px;
        border-radius: 5px;
        border: 1px solid #DFDFDF;
    }