#campaign-list {
}

.month-selected {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #edecec;
    border-bottom: 1px solid #DFDFDF;
    color: #808080;
    height: 40px;
}

.month-selected span {
    font-size: 14pt;
    margin-left: 10px;
}

    .month-selected span:hover {
        cursor: pointer;
        color: dodgerblue;
    }

.campaign {
    padding: 0px 10px;
    border-bottom: 1px solid #DFDFDF;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.campaign:hover {
    cursor: pointer;
}

.campaign-date {
    font-size: 34pt;
}

.campaign .campaign-status {
    color: #808080;
}

.campaign.Opened .campaign-status {
    color: var(--primary);
}

.campaign.Closed .campaign-status {
    color: tomato;
}

.campaign.Selected {
    background-color: #deeaef;
}

.loading-box {
    position: absolute;
    top: 0px;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}
