#toolbar {
    font-size: 10pt;
}

.box-body button {
    font-size: 9pt !important;
    margin-right: 5px;
}

.box-body {

}

.box-label {
    font-size: 8pt;
    border: 1px solid #de6e92;
    background-color: #9a2147;
    padding: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.box-actions {
    font-size: 9pt;
    border: 1px solid #de6e92;
    padding: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-width: 0px;
}

    .box-actions button {
        background-color: #b94268;
        border-width: 0px;
        font-size: 8pt;
        color: white;
    }

        .box-actions button[disabled] {
            color: #e37095;
        }
