@inject DataService Data
@inject IModalService ModalService
@inject IMessageService MessageService
@inject AlertService Alert

@if (Data.SelectedCampaign != null)
{
    <div id="toolbar">
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-6">
                    <div class="box-body" style="margin-right: 5px;">
                        <div class="box-label">
                            <strong>Campagne:</strong> &nbsp;@Data.SelectedCampaign.BookingDate.ToString("dd/MM/yyyy") - @Data.SelectedCampaign.Service.Name
                        </div>

                        <div class="box-actions">
                            <button disabled=@AddBookingButtonIsDisabled() @onclick=showAddWindow>Nouvelle réservation</button>
                            <button disabled=@CloseCampaignButtonIsDisabled() @onclick=showCloseCampaignMessage>Fermer</button>
                            <button disabled=@CompleteCampaignButtonIsDisabled() @onclick=showCompleteCampaignMessage>Finaliser</button>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    @if (Data.SelectedBooking != null)
                    {
                        <div class="box-body" style="margin-left: 5px;">
                            <div class="box-label">
                                <strong>Réservation:</strong> &nbsp;@Data.SelectedBooking.CustomerName
                            </div>

                            <div class="box-actions">
                                <button disabled=@EditBookingButtonIsDisabled() @onclick=showEditWindow>Modifier</button>
                                <button disabled=@ConfirmBookingButtonIsDisabled() @onclick=showConfirmMessage>Confirmer</button>
                                <button disabled=@CancelBookingButtonIsDisabled() @onclick=showCancelMessage>Annuler</button>
                                <button disabled=@ConsumedBookingButtonIsDisabled() @onclick=showConsumedMessage>Consommée</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@if (Data.SelectedBooking != null)
{
    <Modal @ref="editModal" Closing=@ModalClosing>
        <ModalContent>
            <ModalHeader>
                <ModalTitle>Modifier la réservation</ModalTitle>
            </ModalHeader>
            <ModalBody>
                <CascadingValue Name="FormModal" Value="editModal">
                    <BookingUpdateForm Booking="Data.SelectedBooking!" TableTypes="TableTypes" OnClose="editCallback" />
                </CascadingValue>
            </ModalBody>
        </ModalContent>
    </Modal>
}

@if (Data.SelectedCampaign != null)
{
    <Modal @ref="addModal" Closing=@ModalClosing>
        <ModalContent>
            <ModalHeader>
                <ModalTitle>Nouvelle réservation</ModalTitle>
            </ModalHeader>
            <ModalBody>
                <CascadingValue Name="FormModal" Value="addModal">
                    <AddBookingForm TableTypes="TableTypes" OnClose="addCallback" />
                </CascadingValue>
            </ModalBody>
        </ModalContent>
    </Modal>
}

@code {
    bool toastVisible = false;

    private Modal? editModal;
    private Modal? addModal;

    [Parameter]
    public IEnumerable<TableType> TableTypes { get; set; } = default!;

    private Task showEditWindow()
    {
        return editModal!.Show();
    }

    private Task showAddWindow()
    {
        return addModal!.Show();
    }

    private Task ModalClosing(ModalClosingEventArgs args)
    {
        args.Cancel = args.CloseReason != CloseReason.UserClosing;
        return Task.CompletedTask;
    }

    private async Task showConfirmMessage()
    {
        if (await MessageService.Confirm("Êtes-vous certain de vouloir confirmer cette réservation?", "Confirmer la réservation", opts =>
        {
            opts.ConfirmButtonText = "Oui";
            opts.CancelButtonText = "Non";
            opts.ShowCloseButton = false;
        }))
        {
            await Data.ConfirmBookingThunk(Data.SelectedBooking!.BookingId);
        }
    }

    private async Task showCancelMessage()
    {
        if (await MessageService.Confirm("Êtes-vous certain de vouloir annuler cette réservation?", "Annuler la réservation", opts =>
        {
            opts.ConfirmButtonText = "Oui";
            opts.CancelButtonText = "Non";
            opts.ShowCloseButton = false;
        }))
        {
            await Data.CancelBookingThunk(Data.SelectedBooking!.BookingId);
        }
    }

    private async Task showConsumedMessage()
    {
        if (await MessageService.Confirm("Êtes-vous certain de vouloir marquer cette réservation comme consommée", "Marquer comme consommée", opts =>
        {
            opts.ConfirmButtonText = "Oui";
            opts.CancelButtonText = "Non";
            opts.ShowCloseButton = false;
        }))
        {
            await Data.ConsumeBookingThunk(Data.SelectedBooking!.BookingId);
        }
    }

    private async Task showCloseCampaignMessage()
    {
        if (await MessageService.Confirm("Êtes-vous certain de vouloir fermer cette campagne?", "Fermer la campagne", opts =>
        {
            opts.ConfirmButtonText = "Oui";
            opts.CancelButtonText = "Non";
            opts.ShowCloseButton = false;
        }))
        {
            await Data.CloseCampaignThunk(Data.SelectedCampaign!.Id!);
        }
    }

    private async Task showCompleteCampaignMessage()
    {
        if (await MessageService.Confirm("Êtes-vous certain de vouloir finaliser cette campagne?", "Finaliser la campagne", opts =>
        {
            opts.ConfirmButtonText = "Oui";
            opts.CancelButtonText = "Non";
            opts.ShowCloseButton = false;
        }))
        {
            await Data.CompleteCampaignThunk(Data.SelectedCampaign!.Id!);
        }
    }

    private async void editCallback(bool success, string message)
    {
        await editModal!.Hide();

        if (success)
        {
            await Alert.Info(message);
        }
        else
        {
            await Alert.Error(message);
        }
    }

    private async void addCallback(bool success, string message)
    {
        await addModal!.Hide();

        if (success)
        {
            await Alert.Info(message);
        }
        else
        {
            await Alert.Error(message);
        }
    }

    private async void OnPropertyChangedHandler(Object? sender, System.ComponentModel.PropertyChangedEventArgs e)
    {
        await InvokeAsync(() => StateHasChanged());
    }

    protected override void OnInitialized()
    {
        Data.PropertyChanged += OnPropertyChangedHandler;
    }

    public void Dispose()
    {
        Data.PropertyChanged -= OnPropertyChangedHandler;
    }

    private bool AddBookingButtonIsDisabled() => Data.SelectedCampaign?.Status != BookingCampaignStatus.Opened;
    private bool CloseCampaignButtonIsDisabled() => Data.SelectedCampaign?.Status != BookingCampaignStatus.Opened;
    private bool CompleteCampaignButtonIsDisabled() => Data.SelectedCampaign?.Status != BookingCampaignStatus.Closed;

    private bool EditBookingButtonIsDisabled() => Data.SelectedBooking?.Status != BookingStatus.Pending;
    private bool ConfirmBookingButtonIsDisabled() => Data.SelectedBooking?.Status != BookingStatus.Pending;
    private bool CancelBookingButtonIsDisabled() => Data.SelectedBooking?.Status != BookingStatus.Pending;
    private bool ConsumedBookingButtonIsDisabled() => (Data.SelectedBooking?.Status != BookingStatus.Confirmed) || (Data.SelectedBooking?.Status == BookingStatus.Consumed);
}
