.news-container {
    margin-top: 25px;
}

    .news-container img {
        width: 100%;
    }

.news-details {

}

.news-content {
    padding: 5px 0px;
}

.news-title {
    font-size: 16pt;
    font-weight: bold;
}

.news-time {
    font-size: 9pt;
}

.news-footer {
    height: 40px;
    display: flex;
    align-items: center;
    border-top: 1px solid #e1bbc5;
}

    .news-footer .osan-link {
        margin-left: 10px;
        font-size: 16pt;
    }

.news-description {
    font-size: 11pt;
    padding: 15px 0px;
    border-top: 1px solid #e1bbc5;
}

.news-description img {
    width: 100% !important;
}
