body {
}

.modal-content {
    color: black;
    font-size: 9pt !important;
}

.modal-header {
    padding: 10px !important;
    color: #808080;
}

.modal-title {
    font-size: 11pt;
}

.modal-body {
    font-size: 11pt;
}

.modal-body .form-control, .modal-body label {
    font-size: 10pt !important;
}

.span-btn:hover {
    cursor: pointer;
}

.validation-message {
    color: tomato;
    font-size: 9pt;
}